/* Home.css */
.home {

  width: 100vw; /* zmienione z 100% na 100vw */
  height: 100vh; /* zmienione z 100% na 100vh */
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.main{
  position: absolute;

  top: 50%;
  left: 49%;
  
  transform: translate(-50%, -50%);
  display: flex; /* dodane */
  flex-direction: column; /* dodane */
  align-items: center; /* dodane */
  justify-content: center; /* dodane */
  
}

body{
  overflow: hidden;
  background-color: black;
}

/* Dodane Media Queries */
@media (max-width: 600px) {
  .main {
    flex-direction: column;
  }
}
