:root {
  --button-border: 1vmin solid #007e8f;
  --button-background: linear-gradient(to bottom, #00cde9, #007e8f);
  --button-shadow: #00bed7 1vmin 1vmin 1vmin 0.5vmin;
  --button-font: normal normal bold 2vmin verdana;
  --button-color: #ffffff;
  --button-width: 35vmin;
  --button-height: 20vmin;
}

.interfaceButton {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: var(--button-border);
  border-radius: 10vmin;
  background: var(--button-background);
  box-shadow: var(--button-shadow);
  text-shadow: #004f5a 1vmin 1vmin 0.5vmin;
  font: var(--button-font);
  color: var(--button-color);
  text-decoration: none;
  width: var(--button-width);
  height: var(--button-height);
  line-height: var(--button-height);
}

.interfaceButton:hover,
.interfaceButton:focus {
  border: 1vmin solid #009eb3;
  background: linear-gradient(to bottom, #00f6ff, #0097ac);
  color: var(--button-color);
 
}

.interfaceButton:active {
  background: #007e8f;
  background: linear-gradient(to bottom, #007e8f, #007e8f);
}

.interfaceButton:before{
  content:  "\0000a0";
  display: inline-block;
  height: 3vmin;
  width: 3vmin;
  line-height: 3vmin;
  margin: 0 0vmin 0vmin 0vmin;
  position: relative;
 
  left: -2vmin;
  background: var(--before-background); /*Niestandardowa zmienna zadeklarowna w .js*/ 
  background-size: 100% 100%;
}
