.map-image {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
    pointer-events: none;
}

.map-image.loaded {
    opacity: 1;
    pointer-events: none;
}

.notHiglighted{
    background-color: #D3D3D3;
}

.highlighted {
    background-color: lightskyblue; /* lub dowolny jaśniejszy kolor */
}

button {
  border: none;
}  

body {
    overflow-x: hidden;
    overflow-y: hidden;
  }