
.news-container {
  width: 100%; /* Ustaw szerokość kontenera */
  height: 370vh; /* Ustaw wysokość kontenera */
 

}

.news-iframe {

  width: 100%; /* Ustaw szerokość iframe na 100% kontenera */
  height: 100%; /* Ustaw wysokość iframe na 100% kontenera */
  
  
}



