/*RoomList.css*/
.room-list {
  
  margin-top: 90px;
  
}
  
  
.floor {
  font-size: 30px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  
}

.highlightedFloor{
  font-size: 30px;
  background-color: lightslategray;
  display: flex;
  justify-content: space-between;
  
}

.room {
  font-size: 18px;
  text-align: start;
  background-color: #D3D3D3;
  display: flex;
  justify-content: space-between;
  }

.highlightedRoom {
    font-size: 21px;
    background-color: lightskyblue; /* lub dowolny jaśniejszy kolor */
    display: flex;
    justify-content: space-between;
}

.highlightedStart{
  font-size: 20px;
  background-color: red;
  margin-top: -90px;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  position: absolute;
 
}

.start{
  font-size: 20px;
  background-color: lightcoral;
  margin-top: -90px;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  position: absolute;
}