/*VTour.css*/
.button-vtour {
    align-items: center;
    background: linear-gradient(90deg, #5a5c5e 0%, #9b9a9c 100%);
    border: solid #363636 2px;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex-direction: row;
    font-size: 14px;
    font-weight: 0;
    padding: 10px 30px;
    position: "absolute";
    text-decoration: none;
    transform: translateY(0);
    transition : 1000ms;
    z-index: 1;
}

.button-vtour:hover {
    border: solid 2px #000000;
    color: #434445;
    padding: 10px 50px;
}
